.dashBoardDiv {
    margin: 20px 5px 0 20px;
    display: inline-block;
    border: aqua 5px solid;
    vertical-align: top;
}

.dashBoardDiv .nodeTypeDashDiv {
    border: black 3px dotted;
    margin: 5px 5px 5px 5px;
}

.dashBoardDiv .nodeTypeTitleDiv {
    margin: 5px 0 0 5px;
}

.dashBoardDiv .nodeTypeTitleDiv .nodeTypeTitle {
    font-size: 2vh;
    height: 3vh;
    text-align: left;
}

.dashBoardDiv .nodeTypeSVGDiv {
    margin: 5px 0 0 10px;
}

.dashBoardDiv .nodeTypeSVG .APINodeText {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
    font-size: 2vh;
}

.vizPanelDiv {
    margin: 20px 0 0 5px;
    display: inline-block;
    border: aquamarine 5px solid;
    vertical-align: top;
}

.buttonDiv {
    margin: 1vh 0 0 15px;
}

.buttonDiv .buttonHolder {
    display: inline-block;
    text-align: center;
}

.buttonDiv .buttonHolder .btn {
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
}

.buttonDiv .buttonHolder .groupButton {
    margin: 0 10px 0 5px;
}

.buttonDiv .buttonHolder .generateButton {
    margin: 0 5px 0 10px;
}