.dashBoardDiv {
    margin: 20px 5px 0 20px;
    display: inline-block;
    border: aqua 5px solid;
    vertical-align: top;
}

.dashBoardDiv .nodeTypeDashDiv {
    border: black 3px dotted;
    margin: 5px 5px 5px 5px;
}

.dashBoardDiv .nodeTypeTitleDiv {
    margin: 5px 0 0 5px;
}

.dashBoardDiv .nodeTypeTitleDiv .nodeTypeTitle {
    font-size: 2vh;
    height: 3vh;
    text-align: left;
}

.dashBoardDiv .nodeTypeSVGDiv {
    margin: 5px 0 0 10px;
}

.dashBoardDiv .nodeTypeSVG .APINode {
    cursor: pointer;
}

.dashBoardDiv .nodeTypeSVG .APINodeText {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
    font-size: 2vh;
}

.dashBoardDiv .nodeTypeSVG .APINodeText:active {
    background-color: #ffffff;
}

.vizPanelDiv {
    margin: 20px 0 0 5px;
    display: inline-block;
    border: aquamarine 5px solid;
    vertical-align: top;
}

.buttonDiv {
    margin: 1vh 0 0 15px;
}

.buttonDiv .buttonHolder {
    display: inline-block;
    text-align: center;
}

.buttonDiv .buttonHolder .btn {
    font-size: 3vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-weight: bold;
}

.buttonDiv .buttonHolder .groupButton {
    margin: 0 10px 0 5px;
}

.buttonDiv .buttonHolder .generateButton {
    margin: 0 5px 0 10px;
}

.buttonDiv .buttonHolder .uploadButton {
    margin: 0 5px 0 10px;
}

div.VizTooltip {
    position: absolute;
    text-align: left;
    background: lightsteelblue;
    border: 0;
    border-radius: 5px;
}

div.VizTooltip h4 {
    font: 20px Consolas;
    font-weight: bold;
}

div.VizTooltip p {
    font: 15px Consolas;
    display: inline-block;
    overflow-wrap: break-word;
    font-weight: bold;
}

.vizPanelSVG .portLegendLabel .portLegendLabelText {
    font: 20px Consolas;
    font-weight: bold;
}

.vizPanelSVG .vizNode {
    cursor: pointer;
}

.vizPanelSVG .vizNode .vizNodeText {
    font: 23px Consolas;
    text-anchor: middle;
    font-weight: bold;
}
.vizPanelSVG .vizNode .vizNodeParam {
    font: 30px Consolas;
    text-anchor: start;
    font-weight: bold;
}

div.VizParamEnter {
    position: absolute;
    text-align: left;
    background: lightsteelblue;
    border: 0;
    border-radius: 5px;
}